doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    title About us
    style. 
        a.btn.btn-lg.btn-success {
        background-color: cadetblue;
        color: black; 
        }
       
        h1 {
        text-align: center;
        margin-bottom: 24px;  
        }
        button {
        margin-left: 516px;
        margin-top: 10px;
        border: none;
        }
  body
    include header.pug
    
    .Container
      .p-5.my-4.bg-light.rounded-3
        h1 Learn to create Websites
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque omnis vitae recusandae ratione vel voluptatem debitis tenetur dolor magnam impedit beatae modi minima error ipsam pariatur corporis ipsum ducimus libero, quos saepe deleniti exercitationem? Itaque saepe repellat dolor ab assumenda possimus eveniet atque dicta nemo.
        button
          a.btn.btn-lg.btn-success(href='#') Get Started today
    .container
      .row
        .col.md-4
          h2 About Us
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga soluta minus provident nisi optio ipsum asperiores, omnis perspiciatis blanditiis id! Provident non modi quibusdam, totam harum architecto, adipisci numquam sint vitae iure commodi quam quo eveniet omnis eaque, enim eius aliquid deleniti qui aspernatur quaerat praesentium. Consectetur blanditiis, voluptatem nostrum nemo doloribus nesciunt reprehenderit repellat pariatur nulla libero alias earum facilis dolore iure, id unde illo eos?
        .col.md-4
          h2 About Us
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate suscipit nesciunt culpa vitae laborum magni dolor animi, quibusdam obcaecati ipsam amet quas, ipsa eligendi placeat, sint ad libero iusto fugit itaque. Incidunt cum esse ratione possimus minima laudantium in eaque unde, voluptas sit voluptatibus. Consequatur, suscipit quam? Expedita, omnis! Cupiditate voluptas blanditiis amet suscipit impedit distinctio, reprehenderit necessitatibus tempore porro quisquam dolores quod dolore aliquid earum. Molestiae.
        .col.md-4
          h2 About Us
          p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magnam nesciunt, quis eaque laborum maxime, odit numquam officia quos impedit magni! Nihil assumenda earum aut aperiam similique sunt voluptatem aspernatur eligendi atque cum? Quae fugiat distinctio labore, ut natus, rerum neque alias quo pariatur maxime aliquam, facilis similique tenetur molestiae corrupti! Reiciendis repellat vero commodi ex neque consequuntur aliquam eaque vel harum, at dolores, blanditiis necessitatibus voluptatem.
    
    include footer.pug