#carouselExampleControls.carousel.slide(data-bs-ride='carousel')
.carousel-inner
    .carousel-item.active
        img.d-block.w-100(src='https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80', alt='...' style='height:600px ; width:auto')
    .carousel-item
        img.d-block.w-100(src='https://wallpapercave.com/wp/wp2634222.jpg', alt='...' style='height:600px ; width:auto')
    .carousel-item
        img.d-block.w-100(src='https://images.template.net/wp-content/uploads/2016/04/27054559/Sunrise-Nature-Wallpaper-for-Download.jpg', alt='...' style='height:600px ; width:auto')
    button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.visually-hidden Previous
    button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.visually-hidden Next