
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css', integrity='sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N', crossorigin='anonymous')
  body
    include header.pug
    - let arr=['https://images.squarespace-cdn.com/content/v1/5aad8b6ff8370a964b27188d/1609792435796-7DSU4LW1UXBL926OUGWF/wsd-icon-200.png', 'https://www.researchgate.net/publication/221538154/figure/fig1/AS:276824299982849@1443011464386/Original-Image-showing-200-x-200-pixels.png', 'https://imgs.search.brave.com/StdazPSRZQdmsDiUMK5LxSfWzNt-EMDNc67W5e7rSXk/rs:fit:1200:1200:1/g:ce/aHR0cDovL3d3dy50/aGV3b3dzdHlsZS5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTUvMDEvbmF0dXJl/LWltYWdlLmpwZw'];
    - for(let i=0; i<3; i++)
        
        
        img.card-img-top.container(style='width: 18rem;width:400px; height:400px')(src=`${arr[i]}`, alt='...')
    include footer.pug    
            
        